@import './base.css';
html,
body {
  height: 100%;
  margin: 0;
}

#app {
  max-width: 1280px;
  display: grid;
  grid-template-rows: auto 1fr 5vh;
  padding: 0 1rem;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

button {
  font-size: 1rem;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
    input, select, button {
        background-color: #2b2b2b;
        color: #e6e6e6;
        border: 1px solid #3a3a3a;
    }
}
