@import './base.css';
html, body {
  height: 100%;
  margin: 0;
}

#app {
  max-width: 1280px;
  display: grid;
  grid-template-rows: 5vh 1fr 5vh;
  padding: 0 1rem;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

button {
  font-size: 1rem;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
